@media (max-width: 991px) {
	.project-title{
		text-align: center ;
	}
	.home-title {
		left: 0;
		padding: 0px 55px;
	}
	.home-title p{
		display: none;
	}
    #main-photo{
        margin-top: -20px;
    }
	.project-title{
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
		padding: 0px 55px;
	}
	.brief{
		
		padding: 30px 65px;
	}
}

@media (max-width: 767px) {
	.navigation ul{
	    font-size: 2rem;
	}
    footer {
        text-align: center !important;
    }
    footer ul{
        text-align: center;
        padding-left: 0px;
        padding-top: 5px;
    }
    footer .bottom{
        margin-top: 65px;
    }
}
@media (max-width: 414px) {
	.navigation ul{
	    font-size: 1.5rem;
	}
	.home-title h1{
		font-size: 3.5rem;
	}
	.project-title h1{
		font-size: 3.2rem;
	}
	h4{
		padding-top: 20px;
	}
	ul {
		font-size: 3rem;
	}
	li{
		line-height: 200%;
		top: 35%;
	}
	.project-title{
		text-align:  ;
	}
    .content {
        height: auto;
    }
    .brief{
        position: auto !important;
        top: initial !important;
        transform: none !important;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    footer h3{
        font-size: 1.7rem;
    }
    footer ul{
        font-size: 1rem;
    }
}


