@media (max-width: 991px) {
	.home-title {
		left: 0;
		padding: 0px 55px;
	}
	.home-title p{
		display: none;
	}
	.project-title{
		left: 0;
		padding: 0px 55px;
	}
	.brief{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding: 0px 55px;
	}
	.content {
		height: 50vh;
	}
}

@media (max-width: 767px) {
    footer {
        text-align: center !important;
    }
    footer ul{
        text-align: center;
        padding-left: 0px;
        padding-top: 5px;
    }
    footer .bottom{
        margin-top: 65px;
    }
}
@media (max-width: 414px) {
	.home-title h1{
		font-size: 3.5rem;
	}
	.project-title h1{
		font-size: 3.5rem;
	}
	h4{
		padding-top: 20px;
	}
	ul {
		font-size: 3rem;
	}
	li{
		line-height: 200%;
		top: 35%;
	}
    
}


