<style>
@import 'https://fonts.googleapis.com/css?family=Poppins:700';
</style>

@font-face {
    font-family: Governor;
    src: url('fonts/governor.ttf') format('embedded-truetype');
	src: local('☺'),
		url('fonts/governor.ttf') format ('truetype');
}
@import 'https://fonts.googleapis.com/css?family=Poppins:700';

body{
	margin-bottom: 400px;
	color: #000;
	background: #fae3d1;
	font-family: Georgia,Times,Times New Roman,serif; 
}
::selection {
  background: #3A405A; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #3A405A; /* Gecko Browsers */
  color: #fff;
}
p{
	line-height: 170%;
}
a, a:visited{
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #3A405A;
}

/* Navigation */
.navbar {
	padding: 30px 0px 0px;
	z-index: 5000;
}
.navigation{
	background: rgba(255, 255, 255, 1);
	height: 100vh;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 3000;
	top: 0;
	margin: 0px;
}
.navigation ul{
	list-style: none;
	font-size: 4rem;
	padding-right: 45px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    font-weight: bold;
}
.navigation li{
	line-height: 250%;
}
.nav-contact{
    position: fixed;
    bottom: 15px;
    right: 30px;
    margin-top: 100px;
    font-size: 1.2rem;
}

.logo{
    width: 40px;
}

h1{
	font-size: 5rem;
    font-style: italic;
    font-weight: bold;
}
h3,h4,h5,h6{
	font-family: Governor, Poppins;
	text-transform: uppercase;
}
h4 {
	line-height: 1.5;
}
h6{
	font-size: 1.1rem;
}

/* Side bars */
.left, .right{
	z-index: 2000;
	position: fixed;
	height: 100%;
	text-transform: uppercase;
}
.right{
	right: 0;
}
.left h6, .right h6{
	position: relative;
	top: 48%;
	transform: translateY(-50%);
	line-height: 0;	
}
.left h6{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.right h6{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.lr{
	margin-left: -38px;
}
.pf{
	margin-right: -19px;
}
.aw{
	margin-left: -30px;
}
.np{
	margin-right: -45px;
}
.pj{
	margin-right: -36px;
}
.a{
    margin-right: -5px;
}

/* Home page */
.content {
	height: 100vh;
	background: #fae3d1;
	margin: 0px;
}
#home-photo, #main-photo{
	height: 100vh;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	padding: 0px;
	z-index: 1000;
}
.fade-bg{
	background: rgba(249, 222, 201,.5);
	height: 100vh;
}
.home-title{
}

/* Work section */
.work {
	padding: 15px;
	background: #fff;
}
.work h2{
	padding: 15px;
    font-weight: bold;
}
.work a:hover{
    color: #000;
}
.work-box {
	padding: 15px;
}
.cover{
	overflow: hidden;
	width:100%;
	padding-top:100%;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}
.fade-box{
	transition: all 0.2s ease-in-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 96%;
	text-align: center;
	background:rgba(255,255,255,0);
	height: 100%;
}

.fade-box:hover{
	background:rgba(255,255,255,.7);
}
.work-title {
	transition: all 0.2s ease-in-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
	width: 98%;
	opacity: 0;
}

/* Project Pages */
.project-title{
    padding-bottom: 20px;
}
.brief{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0px 55px;
}
.brief p{
    margin-bottom: 20px;
}
/*.footnotes{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    padding-bottom: 30px;
}
 .footnotes-expanded{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #efbaaf;
    font-size: 1rem;
    padding: 10px 20px;
	transition: all 0.2s ease-in-out;
}
 .footnotes:hover + .footnotes-expanded{
    bottom: 0;
    top: 90%;
} */
.project-photos{
	padding: 15px;
	background: #fff;
}
.project-photos img{
	margin: 0px auto;
	padding: 15px;
	opacity: 1;
}
.inline-pics{
	padding: 0px;
}

/* Tumblr Section */
.date{
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	color: #000;
}
.post-caption{
	padding: 0px 50px 5px;
	display: block;
}
.tags {
	font-size: 9px;
}
#tumblrFeed h2{
	text-align: center;
	font-family:  Governor, Poppins;
	font-size: 18px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
#tumblrFeed p{
	padding-bottom: 15px;
}
hr {
	border: 2px solid #000;
	width: 40px;
	margin-top: 15px;
}

.pagination-nav {
	z-index: 3000;
}
.pager li > a {
    border: 0px;
    font-size: 2.5rem;
}
.pager li > a:hover {
    background: #fff;
}

/* Background Images */
.home {
	background: url(../img/odin/odin-1.jpg) no-repeat center center;
}
.me {
	background: url(../img/me.jpg) no-repeat center bottom;
}
.truck {
	background: url(../img/truck/cover-truck.jpg) no-repeat center center;
}
.newgoth {
	background: url(../img/new-gotham/cover-newgoth.gif) no-repeat center center;
}
.odin {
	background: url(../img/odin/odin-1.jpg) no-repeat center center;   
}
.farenheit {
	background: url(../img/farenheit/cover-farenheit.jpg) no-repeat center center;   
}
.journal {
	background: url(../img/journal-cover.jpg) no-repeat center center;   
}

/* Footer */
footer{
	padding: 30px 0px;
	height: 450px;
	width: 100%;
	background: #fae3d1;
	position: fixed;
	bottom: 0;
	z-index: -3000;
	opacity: 0;
}
footer h3{
    padding: 105px 0px 25px;
}
footer p{
    padding-top: 15px;
}
footer .bottom{
    background: #efbaaf;
    margin-top: 87px;
    padding: 20px 30px 30px;
    bottom: 0;
	font-family:  Governor, Poppins;
    font-size: 1.2rem;
    text-transform: uppercase;
}
footer ul{
    list-style-type: none;
    text-align: right;
}
footer ul li{
    display: inline-block;
    padding-left: 25px;
}